body{
	width : 80%;
	margin-left:auto;
	margin-right: auto;
  background-color: #333;
  color: #eee;
  font-family: arial;
	font-size:14px;
}

#title{
  font-size: 6vh;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
	text-align: center;
}

#onglets{
  display: inline-block;
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  padding-left: 0px;
  margin-left: 5%;
}

#onglets li{
	position: relative;
	float: left;
	list-style: none;
	padding: 5px 5px 7px;
  text-align: center;
  width:21%;
  margin-right: 1%;
  background-color: #444;
  border-radius: 5px 5px 0px 0px ;
	border: 1px solid black;
	cursor: pointer;
}

#onglets .actif{
  font-weight: bold;
  background-color: #555;
  border-bottom: none;
  z-index: 10;
}

#contenu{
  clear: both;
	position: relative;
	margin: 0 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 5;
	top: -2px;
	border-radius: 15px;
	height: 75vh;
	font-size: 14px;
  background-color: #555;
  border: 1px solid black;
	line-height: 1.5em;
	text-align: justify;
}

.item{
	overflow: auto;
	height: 100%;
	padding-right: 30px;
	padding-left: 30px;
	scrollbar-color: #888 #555;
	scrollbar-width: thin;
}

/* width */
.item::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.item::-webkit-scrollbar-track {
	box-shadow: inset 0px 0px 5px #444;
  background: #555;
	border-radius: 5px;
}

/* Handle */
.item::-webkit-scrollbar-thumb {
  background: #888;
	border-radius: 5px;
}

/* Handle on hover */
.item::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a{
	color:inherit;
}

img{
	max-width: 50%;
	margin:auto;
	display: block;
}

.wide{
	max-width: 75%;
}

td img{
	max-width: 100%;
}

table{
	margin:auto;
}

td, th{
	padding-left:20px;
	padding-right: 20px;
	text-align:center;
}

th {
	font-weight: normal;
}

iframe{
	max-width: 50%;
	margin:auto;
	display: block;
}

h1, h2, h3{
	padding-top: 0.5em;
}

.footnote{
	font-size:14px;
	margin-top:10px;
}

.footnote::before{
	content:"";
	display: block;
	margin:auto;
	height: 1px;
	width:70%;
	border-bottom: 1px solid #ccc;
}

.footnote-line{
	padding-top:10px;
}

.bas_page{
  margin-bottom : 10px;
  width:80%;
  text-align: center;
  position: absolute;
  bottom: 0;
	font-size: 10pt;
}
